<!DOCTYPE html>
  <html>
    <head></head>
      <body class="team">
        <div class="navbar-wagon navbar-wagon-fixed">
        </div>

        <ul class="list-inline text-center">
          <% ["Muriel", "Florian"].each do |member| %>
          <li>
          <%= image_tag "#{member}.png", class: "img-circle" %>
            <h3><%= member.capitalize %></h3>
          </li>
          <% end %>
        </ul>
